*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: url('../public/font/RobotoCondensed-Bold.ttf');
}

.heroBg{
  background-image: url('./assets/heroImg.png');
  background-position:center top;
  background-repeat: no-repeat;
  

}